$primary-Color: #222733;
$foot-header-background-Color: #2e3445;

$font-Color-Primary: #DBE8D4;
$font-Color-Secondary: #81c7bc;
$font-Color-Tertiary: #5A79FF;

$font-size-small: 2rem;
$font-size-medium: 2.2rem;
$font-size-big: 5rem;
$font-size-extraLarge: 6rem;

$active-button-click: sandybrown 1px solid


