@import '_vars';
.About-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.facts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.about-snapshops{
  width: 250px;
  align-self: center;
  border-radius: 25px;
  margin-bottom: 20px;
}
.second-fact, .third-fact, .four-fact{
  margin-top: 25px;
}
.bold-description{
  font-weight: 700;
  margin-bottom: 20px;
}
.skills-description{
margin-bottom: 20px;
}
@media (min-width:900px) {
  .About-page{
    margin: 0 auto;
  }
  .about-snapshops{
    zoom: 125%;
    margin-bottom: unset;
  }
  .facts{
    flex-direction: row;
    width: 80%;
    background-color: $foot-header-background-Color;
    padding: 40px;
    align-self: center;
    max-width: 1220px;
  }
  .second-fact{
    flex-direction: row-reverse;

  }
 .fact-text-wrap{
    align-self: center;
    padding: 10px;
    
  }
  .about-bottom-text{
    text-align: center;
    margin-top: 40px;
  }
}
@media (min-width:1920px) {
  .facts{
    zoom: 120%;
  }
}
@media (min-width:2900px) {
  .facts{
    zoom:140%
  }
}
