@import '_vars';
.About-page{
  padding: 30px;
}
.facts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.about-snapshops{
  width: 250px;
  align-self: center;
  border-radius: 25px;
  margin-bottom: 20px;
}
.second-fact, .third-fact, .four-fact{
  margin-top: 25px;
}
.bold-description{
  font-weight: 700;
  margin-bottom: 20px;
}
.skills-description{
margin-bottom: 20px;
}
