@import '_vars';

.Job{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;

}
.companyLogo{
  width: 180px;
  align-self: center;
  margin-bottom: 10px;
}
.companyLogo:hover{
  width: 220px;
}
.libLogo{
  margin-bottom: -10px;
}
.loomisLogo{
  margin-top: 25px;
  margin-bottom: 15px;
}
.clarityLogo{
  margin-top: 25px;
  margin-bottom: 15px;
}
.Job > p{
  text-align: center;
  margin-bottom: 10px;
}
.Job > a {
  align-self: center;
}
@media (min-width: 1200px) {
  .Job{
    max-width: 768px;
    margin: 0 auto;
  }
}
