@import '_vars';

.porfolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio > p{
  text-align: center;
}
.portfolio > div{
  display: flex;
  justify-content: center;
}
.portfolio > div > button{
  width: 170px;
  height: 60px;
  padding: 15px;
  border-radius: 50px;
  border: none;
  background-color: $font-Color-Secondary;
  font-size: 2.5rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.portfolio > div > button:hover{
  cursor: pointer;
}
.projects-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
@media (min-width: 1200px) {
  .projects-section{
    display: grid;
    grid-template-columns: 600px 600px;
  }
  .project{
    margin-left: 25px;
    margin-right: 25px;
  }
}



