@import '_vars';
.ResumeEducation{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sub-wrap{
  padding: 30px;
  height: auto;
  border-bottom: 3px solid gray
  ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.page-sub{
  font-weight: 100;
  font-family: 'Josefin Sans';
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color: $font-Color-Primary;
}
.certs-wrap{
  display: flex;
  flex-direction: row;

  overflow-x:auto;
  align-self: center;
  justify-content: flex-start;
  margin-top: 40px;
  width: 95%;
}
.modal-overlay-content-certs{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
.modal-content{
  display: flex;
  justify-self: center;
  align-items: center;
  align-self: center;
  z-index: 11;
  position: fixed;
}
.custom-image-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 20px;
}

.custom-image-container > img{
  width: 100%;
  align-self: center;
  position: relative;
  right: 20px;
}
.custom-image-container > img:hover{
  cursor: unset;
  box-shadow: unset;
}
.button-container{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  z-index: 10;
  position: relative;
  left: 40px;
  bottom: 200px;
  margin-top: 225px;
}
.close-button-modal{
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  
}
.close-button-modal:hover{
  cursor: pointer;
}
.close-button-modal:active{
  border: $active-button-click;
}
.close-button-modal > img{
  width: 30px;
}
.arrow-wrap{
  width: 92.5%;
  height: 80%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.left-arrow{
  visibility: hidden;
}
.right-arrow{
  visibility: hidden;

}
.arrows{
  width: 50px;
  height: 50px;
}
.arrows:hover{
  cursor: pointer;
}
@media (min-width:768px) {
  .certs-wrap{
    display: grid;
    grid-template-columns: 370px 370px;
    grid-template-rows: 300px 300px 300px 300px;
    justify-content: center;
  }
}
@media (min-width:1200px) {
  .certs-wrap{
    zoom: 110%;
  }
}