@import '_vars';
.logo-wrap{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.web-logo{
  width: 350px;
  height: auto;
  border: 50%;
  align-self: center;
}
.logo-wrap > p{
  text-align: center;
}
.web-screenshot{
  width: 90%;
  height: auto;
  align-self: center;
}
