@import "_vars";

.App{
  background-color: $primary-Color;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

main{
  padding: 30px;
}
p{
  color: $font-Color-Primary;
  font-size: $font-size-medium;
}
ul{
  color: $font-Color-Primary;
  $font-size-medium: 2.2rem;
}

h1{
  color: $font-Color-Primary;
  font-size: 6rem;
  text-align: center;
}
h3{
  color: $font-Color-Primary;
}
.no-scroll{
  overflow: hidden;
}

@media (min-width: 3840px) {
    .App{
      zoom: 155%;
    }
}